<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532487865495-k9vtvol4p90m1nop7eueig3vhkv43hh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532487865495-k9vtvol4p90m1nop7eueig3vhkv43hh5</string>
	<key>API_KEY</key>
	<string>AIzaSyBD5J7S_lHYtj0Ghsk5Z1kCzutBN3JqmCU</string>
	<key>GCM_SENDER_ID</key>
	<string>532487865495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.openSourceProject</string>
	<key>PROJECT_ID</key>
	<string>powerball-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>powerball-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532487865495:ios:35716ebf0af74eaca655d2</string>
</dict>
</plist>